<div class="header">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#">Welcome</a></li>
	  <li role="presentation"><a href="#">Portfolio</a></li>
	  <li role="presentation"><a href="#">Blog</a></li>
	  <li role="presentation"><a href="#">About</a></li>
	  <li role="presentation"><a href="#">Contact</a></li>
	</ul>
	Meelis O
</div>

<div class="main">
	<p>I do some Ruby on Rails programming.</p>
	<button type="button" class="btn btn-default">View my Work</button>
</div>

<div class="footer">
	Copyright 2015
</div>